<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>HAckers news</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h2>HAckers news</h2>
        <p> Welcome to the hackers news</p> 
        <p> Nous disposons de {{ books_qty }} au sein de notre site {{ name_of_store }} </p>     
        <script src="" async defer></script>
    </body>
</html>